@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>
<h3>UIA Flight Booking System</h3>

<address>
    Have any questions or concerns? We are here to help. Please contact us via any of the channels below:
</address>

<address>
    <strong>Support:</strong>UIASupport@hotmail.com.com<br />
    <strong>Marketing:</strong>UIAMarketingg@example.com
</address>